body { background: transparent url("../gallery_gen/dc9fbac843814239c4e5e5e37beccbcf.jpg") repeat-x scroll left top; }
.wb_sbg { background: transparent url("../gallery_gen/fb403678931ea5950f57c939788cfc82.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 992px; min-height: 1104px; }
.root { width: 992px; height: 1104px; overflow: visible; }
#wb_element_instance56 { left: 550px; top: 30px; min-width: 440px; width: 440px; min-height: 50px; height: 50px; display: block; z-index: 98; }
#wb_element_instance56 ul { background: transparent none no-repeat scroll center top; border: 1px none #000000; }
#wb_element_instance56, #wb_element_instance56 ul { text-align: right; }
#wb_element_instance56 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance56 li { margin: 0px 0px 0px 0px; }
#wb_element_instance56 li a { text-transform: uppercase; border: 0px none #000000; padding: 19px 30px 19px 30px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: transparent none repeat scroll left top; }
#wb_element_instance56 li:hover > a, #wb_element_instance56 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #9854c9; line-height: 16px; background: transparent none no-repeat scroll left top; }
#wb_element_instance56 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #9552c4; line-height: 16px; background: transparent none no-repeat scroll left top; }
#wb_element_instance57 { left: 70px; top: 24px; min-width: 400px; width: 400px; min-height: 48px; height: 48px; display: block; z-index: 96; }
#wb_element_instance58 { left: 0px; top: 20px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; z-index: 97; }
#wb_element_instance58 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance59 { left: 20px; top: 28px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 96; }
#wb_element_instance60 { left: 0px; top: 20px; display: block; z-index: 9000; }
#wb_element_instance61 { left: 0px; top: 72px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	body, .wb_sbg { min-width: 992px; min-height: 1104px; }
	.root { width: 992px; height: 1104px; overflow: visible; }
	#wb_element_instance56 { left: 550px; top: 30px; min-width: 440px; width: 440px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance57 { left: 70px; top: 24px; min-width: 400px; width: 400px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance58 { left: 0px; top: 20px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance58 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance59 { left: 20px; top: 28px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 992px) {
	body, .wb_sbg { min-width: 992px; min-height: 1104px; }
	.root { width: 992px; height: 1104px; overflow: visible; }
	#wb_element_instance56 { left: 550px; top: 30px; min-width: 440px; width: 440px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance57 { left: 70px; top: 24px; min-width: 400px; width: 400px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance58 { left: 0px; top: 20px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance58 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance59 { left: 20px; top: 28px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 1200px) {
	body, .wb_sbg { min-width: 992px; min-height: 1104px; }
	.root { width: 992px; height: 1104px; overflow: visible; }
	#wb_element_instance56 { left: 550px; top: 30px; min-width: 440px; width: 440px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance57 { left: 70px; top: 24px; min-width: 400px; width: 400px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance58 { left: 0px; top: 20px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance58 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance59 { left: 20px; top: 28px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
}
