#wb_header { background: transparent none repeat scroll left top; height: 110px; }
#wb_header { height: 110px; }
#wb_main { background: transparent none repeat scroll left top; height: 970px; padding: 0 0 50px 0; }
#wb_main { height: 1020px; }
#wb_footer { background: transparent none repeat scroll left top; height: 70px; }
#wb_footer { height: 70px; }
body { background: #ffffff url("../gallery_gen/dc9fbac843814239c4e5e5e37beccbcf.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/fb403678931ea5950f57c939788cfc82.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 992px; min-height: 1668px; }
.root { width: 992px; height: 1668px; overflow: visible; }
#wb_element_instance0 { left: 550px; top: 30px; min-width: 440px; width: 440px; min-height: 50px; height: 50px; display: block; z-index: 98; }
#wb_element_instance0 ul { background: transparent none no-repeat scroll center top; border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance0 li { margin: 0px 0px 0px 0px; }
#wb_element_instance0 li a { text-transform: uppercase; border: 0px none #000000; padding: 19px 30px 19px 30px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: transparent none repeat scroll left top; }
#wb_element_instance0 li:hover > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #9854c9; line-height: 16px; background: transparent none no-repeat scroll left top; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #9552c4; line-height: 16px; background: transparent none no-repeat scroll left top; }
#wb_element_instance1 { left: 70px; top: 24px; min-width: 400px; width: 400px; min-height: 48px; height: 48px; display: block; z-index: 96; }
#wb_element_instance2 { left: 0px; top: 20px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; z-index: 97; }
#wb_element_instance2 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance3 { left: 20px; top: 28px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 96; }
#wb_element_instance4 { left: 20px; top: 830px; min-width: 94px; width: 94px; min-height: 94px; height: 94px; display: none; z-index: 57; }
#wb_element_instance4 img { width: 94px; height: 94px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance5 { left: 140px; top: 820px; min-width: 500px; width: 500px; min-height: 110px; height: 110px; display: block; z-index: 58; }
#wb_element_instance6 { left: 20px; top: 760px; min-width: 420px; width: 420px; min-height: 43px; height: 43px; display: block; z-index: 59; }
#wb_element_instance7 { left: 710px; top: 760px; min-width: 260px; width: 260px; min-height: 198px; height: 198px; display: block; z-index: 60; }
#wb_element_instance8 { left: 20px; top: 580px; min-width: 280px; width: 280px; min-height: 24px; height: 24px; display: block; z-index: 61; }
#wb_element_instance9 { left: 370px; top: 580px; min-width: 270px; width: 270px; min-height: 24px; height: 24px; display: block; z-index: 62; }
#wb_element_instance10 { left: 0px; top: 470px; min-width: 320px; width: 320px; min-height: 250px; height: 250px; display: block; z-index: 56; }
#wb_element_instance10 > div { width: 320px; height: 250px; background: #d611a1; border: 0px solid #000000; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance11 { left: 345px; top: 470px; min-width: 320px; width: 320px; min-height: 250px; height: 250px; display: block; z-index: 55; }
#wb_element_instance11 > div { width: 320px; height: 250px; background: #00c1cf; border: 0px solid #000000; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance12 { left: 690px; top: 470px; min-width: 300px; width: 300px; min-height: 110px; height: 110px; display: block; z-index: 54; }
#wb_element_instance12 > div { width: 300px; height: 110px; background: #3d3d3d; border: 0px solid #000000; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance13 { left: 690px; top: 580px; min-width: 300px; width: 300px; min-height: 390px; height: 390px; display: block; z-index: 52; }
#wb_element_instance13 > div { width: 300px; height: 390px; background: #e0e0e0; border: 1px solid #e6e6e6; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance14 { left: 370px; top: 490px; min-width: 180px; width: 180px; min-height: 74px; height: 74px; display: block; z-index: 64; }
#wb_element_instance15 { left: 710px; top: 490px; min-width: 220px; width: 220px; min-height: 74px; height: 74px; display: block; z-index: 65; }
#wb_element_instance16 { left: 20px; top: 490px; min-width: 270px; width: 270px; min-height: 37px; height: 37px; display: block; z-index: 66; }
#wb_element_instance17 { left: 222px; top: 240px; min-width: 508px; width: 508px; min-height: 59px; height: 59px; display: block; z-index: 68; }
#wb_element_instance18 { left: 130px; top: 20px; min-width: 750px; width: 750px; min-height: 430px; height: 430px; display: none; z-index: 67; }
#wb_element_instance18 img { width: 750px; height: 430px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance19 { left: 222px; top: 90px; min-width: 508px; width: 508px; min-height: 159px; height: 159px; display: block; z-index: 69; }
#wb_element_instance20 { left: 222px; top: 60px; min-width: 508px; width: 508px; min-height: 48px; height: 48px; display: block; z-index: 70; }
#wb_element_instance21 { left: 0px; top: 740px; min-width: 665px; width: 665px; min-height: 230px; height: 230px; display: none; z-index: 53; }
#wb_element_instance21 > div { width: 665px; height: 230px; background: #ffffff; border: 1px solid #e6e6e6; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance22 { left: 690px; top: 580px; min-width: 300px; width: 300px; min-height: 160px; height: 160px; display: block; z-index: 75; overflow: hidden; }
#wb_element_instance22 img { width: 320px; height: 150px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance23 { left: 0px; top: 990px; display: block; z-index: 9000; }
#wb_element_instance24 { left: 0px; top: 72px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 110px; }
	#wb_main { height: 1020px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 992px; min-height: 1200px; }
	.root { width: 992px; height: 1200px; overflow: visible; }
	#wb_element_instance0 { left: 550px; top: 30px; min-width: 440px; width: 440px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance1 { left: 70px; top: 24px; min-width: 400px; width: 400px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance2 { left: 0px; top: 20px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance2 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 20px; top: 28px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 20px; top: 830px; min-width: 94px; width: 94px; min-height: 94px; height: 94px; display: block; }
	#wb_element_instance4 img { width: 94px; height: 94px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 140px; top: 820px; min-width: 500px; width: 500px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance6 { left: 20px; top: 760px; min-width: 420px; width: 420px; min-height: 43px; height: 43px; display: block; }
	#wb_element_instance7 { left: 710px; top: 760px; min-width: 260px; width: 260px; min-height: 198px; height: 198px; display: block; }
	#wb_element_instance8 { left: 20px; top: 580px; min-width: 280px; width: 280px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance9 { left: 370px; top: 580px; min-width: 270px; width: 270px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance10 { left: 0px; top: 470px; min-width: 320px; width: 320px; min-height: 250px; height: 250px; display: block; }
	#wb_element_instance10 > div { width: 320px; height: 250px; }
	#wb_element_instance11 { left: 345px; top: 470px; min-width: 320px; width: 320px; min-height: 250px; height: 250px; display: block; }
	#wb_element_instance11 > div { width: 320px; height: 250px; }
	#wb_element_instance12 { left: 690px; top: 470px; min-width: 300px; width: 300px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance12 > div { width: 300px; height: 110px; }
	#wb_element_instance13 { left: 690px; top: 580px; min-width: 300px; width: 300px; min-height: 390px; height: 390px; display: block; }
	#wb_element_instance13 > div { width: 300px; height: 390px; }
	#wb_element_instance14 { left: 370px; top: 490px; min-width: 180px; width: 180px; min-height: 74px; height: 74px; display: block; }
	#wb_element_instance15 { left: 710px; top: 490px; min-width: 220px; width: 220px; min-height: 74px; height: 74px; display: block; }
	#wb_element_instance16 { left: 20px; top: 490px; min-width: 270px; width: 270px; min-height: 37px; height: 37px; display: block; }
	#wb_element_instance17 { left: 222px; top: 240px; min-width: 508px; width: 508px; min-height: 59px; height: 59px; display: block; }
	#wb_element_instance18 { left: 130px; top: 20px; min-width: 750px; width: 750px; min-height: 430px; height: 430px; display: block; overflow: hidden; }
	#wb_element_instance18 img { width: 690px; height: 400px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance19 { left: 222px; top: 90px; min-width: 508px; width: 508px; min-height: 159px; height: 159px; display: block; }
	#wb_element_instance20 { left: 222px; top: 60px; min-width: 508px; width: 508px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance21 { left: 0px; top: 740px; min-width: 665px; width: 665px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance21 > div { width: 665px; height: 230px; }
	#wb_element_instance22 { left: 690px; top: 580px; min-width: 300px; width: 300px; min-height: 160px; height: 160px; display: block; overflow: hidden; }
	#wb_element_instance22 img { width: 341px; height: 160px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
}

@media (min-width: 992px) {
	#wb_header { height: 110px; }
	#wb_main { height: 1020px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 992px; min-height: 1200px; }
	.root { width: 992px; height: 1200px; overflow: visible; }
	#wb_element_instance0 { left: 550px; top: 30px; min-width: 440px; width: 440px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance1 { left: 70px; top: 24px; min-width: 400px; width: 400px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance2 { left: 0px; top: 20px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance2 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 20px; top: 28px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 20px; top: 830px; min-width: 94px; width: 94px; min-height: 94px; height: 94px; display: block; }
	#wb_element_instance4 img { width: 94px; height: 94px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 140px; top: 820px; min-width: 500px; width: 500px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance6 { left: 20px; top: 760px; min-width: 420px; width: 420px; min-height: 43px; height: 43px; display: block; }
	#wb_element_instance7 { left: 710px; top: 760px; min-width: 260px; width: 260px; min-height: 198px; height: 198px; display: block; }
	#wb_element_instance8 { left: 20px; top: 580px; min-width: 280px; width: 280px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance9 { left: 370px; top: 580px; min-width: 270px; width: 270px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance10 { left: 0px; top: 470px; min-width: 320px; width: 320px; min-height: 250px; height: 250px; display: block; }
	#wb_element_instance10 > div { width: 320px; height: 250px; }
	#wb_element_instance11 { left: 345px; top: 470px; min-width: 320px; width: 320px; min-height: 250px; height: 250px; display: block; }
	#wb_element_instance11 > div { width: 320px; height: 250px; }
	#wb_element_instance12 { left: 690px; top: 470px; min-width: 300px; width: 300px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance12 > div { width: 300px; height: 110px; }
	#wb_element_instance13 { left: 690px; top: 580px; min-width: 300px; width: 300px; min-height: 390px; height: 390px; display: block; }
	#wb_element_instance13 > div { width: 300px; height: 390px; }
	#wb_element_instance14 { left: 370px; top: 490px; min-width: 180px; width: 180px; min-height: 74px; height: 74px; display: block; }
	#wb_element_instance15 { left: 710px; top: 490px; min-width: 220px; width: 220px; min-height: 74px; height: 74px; display: block; }
	#wb_element_instance16 { left: 20px; top: 490px; min-width: 270px; width: 270px; min-height: 37px; height: 37px; display: block; }
	#wb_element_instance17 { left: 222px; top: 240px; min-width: 508px; width: 508px; min-height: 59px; height: 59px; display: block; }
	#wb_element_instance18 { left: 130px; top: 20px; min-width: 750px; width: 750px; min-height: 430px; height: 430px; display: block; overflow: hidden; }
	#wb_element_instance18 img { width: 690px; height: 400px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance19 { left: 222px; top: 90px; min-width: 508px; width: 508px; min-height: 159px; height: 159px; display: block; }
	#wb_element_instance20 { left: 222px; top: 60px; min-width: 508px; width: 508px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance21 { left: 0px; top: 740px; min-width: 665px; width: 665px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance21 > div { width: 665px; height: 230px; }
	#wb_element_instance22 { left: 690px; top: 580px; min-width: 300px; width: 300px; min-height: 160px; height: 160px; display: block; overflow: hidden; }
	#wb_element_instance22 img { width: 341px; height: 160px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
}

@media (min-width: 1200px) {
	#wb_header { height: 110px; }
	#wb_main { height: 1020px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 992px; min-height: 1200px; }
	.root { width: 992px; height: 1200px; overflow: visible; }
	#wb_element_instance0 { left: 550px; top: 30px; min-width: 440px; width: 440px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance1 { left: 70px; top: 24px; min-width: 400px; width: 400px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance2 { left: 0px; top: 20px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance2 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 20px; top: 28px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 20px; top: 830px; min-width: 94px; width: 94px; min-height: 94px; height: 94px; display: block; }
	#wb_element_instance4 img { width: 94px; height: 94px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 140px; top: 820px; min-width: 500px; width: 500px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance6 { left: 20px; top: 760px; min-width: 420px; width: 420px; min-height: 43px; height: 43px; display: block; }
	#wb_element_instance7 { left: 710px; top: 760px; min-width: 260px; width: 260px; min-height: 198px; height: 198px; display: block; }
	#wb_element_instance8 { left: 20px; top: 580px; min-width: 280px; width: 280px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance9 { left: 370px; top: 580px; min-width: 270px; width: 270px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance10 { left: 0px; top: 470px; min-width: 320px; width: 320px; min-height: 250px; height: 250px; display: block; }
	#wb_element_instance10 > div { width: 320px; height: 250px; }
	#wb_element_instance11 { left: 345px; top: 470px; min-width: 320px; width: 320px; min-height: 250px; height: 250px; display: block; }
	#wb_element_instance11 > div { width: 320px; height: 250px; }
	#wb_element_instance12 { left: 690px; top: 470px; min-width: 300px; width: 300px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance12 > div { width: 300px; height: 110px; }
	#wb_element_instance13 { left: 690px; top: 580px; min-width: 300px; width: 300px; min-height: 390px; height: 390px; display: block; }
	#wb_element_instance13 > div { width: 300px; height: 390px; }
	#wb_element_instance14 { left: 370px; top: 490px; min-width: 180px; width: 180px; min-height: 74px; height: 74px; display: block; }
	#wb_element_instance15 { left: 710px; top: 490px; min-width: 220px; width: 220px; min-height: 74px; height: 74px; display: block; }
	#wb_element_instance16 { left: 20px; top: 490px; min-width: 270px; width: 270px; min-height: 37px; height: 37px; display: block; }
	#wb_element_instance17 { left: 222px; top: 240px; min-width: 508px; width: 508px; min-height: 59px; height: 59px; display: block; }
	#wb_element_instance18 { left: 130px; top: 20px; min-width: 750px; width: 750px; min-height: 430px; height: 430px; display: block; overflow: hidden; }
	#wb_element_instance18 img { width: 690px; height: 400px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance19 { left: 222px; top: 90px; min-width: 508px; width: 508px; min-height: 159px; height: 159px; display: block; }
	#wb_element_instance20 { left: 222px; top: 60px; min-width: 508px; width: 508px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance21 { left: 0px; top: 740px; min-width: 665px; width: 665px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance21 > div { width: 665px; height: 230px; }
	#wb_element_instance22 { left: 690px; top: 580px; min-width: 300px; width: 300px; min-height: 160px; height: 160px; display: block; overflow: hidden; }
	#wb_element_instance22 img { width: 341px; height: 160px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
}
